<header id="mogan-header">
  <div class="meta">
    {{#if @blog.logo}}
      <img alt="Adam McArthur" id="logo" src="{{@blog.logo}}" width="100" />
    {{/if}}

    <h1>adammcarth</h1>

    <h3>The ramblings, superficial knowledge and general idiosyncrasies of Adam McArthur.</h3>
  </div>

  {{> menu}}
</header>
<div id="mogan-menu-toggle" class="icon-menu">Toggle menu</div>
