<header id="mogan-header">
  <div class="meta">
    <a href="/" style="text-decoration: none !important;">
      <img alt="Baach by David Lanham" id="logo" src="{{asset "img/baach.png"}}" style="padding: 5px 0 20px 0;" title="Baach by David Lanham" />
      <h1>adammcarth</h1>
    </a>

    <h3>The ramblings, superficial knowledge and general idiosyncrasies of Adam McArthur.</h3>
  </div>

  {{> menu}}
</header>
<div id="mogan-menu-toggle" class="icon-menu">Toggle menu</div>
