<nav role="navigation">
  <a class="menu_link" href="/">Posts</a>
  <a class="menu_link" href="/projects">My Projects</a>
  <a class="menu_link" href="/about">About Me</a>
</nav>

<nav role="navigation">
  <a class="button icon-twitter" href="https://www.twitter.com/adammcarth" title="Twitter">Adam McArthur on Twitter</a>
  <a class="button icon-stackoverflow" href="https://stackoverflow.com/users/1187051/adam-mcarthur" title="Stack Overflow">Adam McArthur on Stack Overflow</a>
  <a class="button icon-github4" href="https://github.com/adammcarth" title="GitHub">Adam McArthur on GitHub</a>
  <a class="button icon-linkedin" href="https://linkedin.com/in/adammcarth/" title="Linkedin">Adam McArthur on Linkedin</a>
  <div style="clear:both;"></div>
  <a class="button icon-googleplus" href="https://plus.google.com/116206392060404415211" title="Google Plus+">Adam McArthur on Google Plus+</a>
  <a class="button icon-reddit" href="http://www.reddit.com/user/adammcarth/" title="Reddit">Adam McArthur on Reddit</a>
  <a class="button icon-steam" href="https://steamcommunity.com/id/adammcarth" title="Steam">Adam McArthur on Steam</a>
  <div style="clear:both;"></div>
  <a class="button icon-mail" href="mailto:adam[at]adammcarthur[dot]net" title="Email me!">Email Adam McArthur</a>
</nav>
