<nav id="mogan-pagination" class="clearfix">
  {{#if prev}}
    <a href="{{page_url prev}}" title="Newer posts" class="pagination button previous icon-arrow-left">&laquo; Previous</a>
  {{/if}}

  {{#if next}}
    <a href="{{page_url next}}" title="Older Posts" class="pagination button next icon-arrow-right">Next &raquo;</a>
  {{/if}}
</nav>
