{{!< default}}
<div id="rainbow-border" style="background:#d67545;"></div>
<section id="mogan-content-detail" role="main">
  <article class="mogan-post-detail colored-border {{post_class}}">
    <div>
      {{#post}}
        <header class="container">
          
        </header>

        <section class="content">{{content}}</section>

      {{/post}}
    </div>
  </article>
</section>
