.content p {
  font-size: 20px;
  line-height: 27px;
  color: #555;
}

.content a {
  font-size: 19px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-weight: bold;
  line-height: auto;
}

.content h1 {
  font-size: 38px;
  margin-top: 60px;
  margin-bottom: 0;
}

.content h2 {
  font-size: 36px;
}

.content h3 {
  font-size:30px;
}

.content h4 + p, .content h5 + p, .content h6 + p {
  margin-top: -25px;
}

.content h4 {
  margin-top: 20px;
  font-size: 26px;
  color: #777777;
}

.content h5 {
  font-size: 22px;
  color: #777777;
}

.content h6 {
  font-size: 18px;
  color: #777777;
}

.posts_display_container {
  width: 1200px;
  margin: 10px auto;
  padding: 0 15px;
  position: relative;
}

@media( max-width: 1575px ) {
  .posts_display_container {
    width: 810px;
  }
}

@media( max-width: 1190px ) {
  .posts_display_container {
    width: 420px;
  }
}

.posts_display_container article {
  display: inline;
}

.mogan-post-preview p, .mogan-post-preview li {
  font-size: 19px;
  line-height: 1.33333em;
}

.mogan-post-preview {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
  padding: 15px 40px 40px 40px;
  background: #f9f9f9;
  border: none;
  border-top: solid 7px #d56350;
  width: 380px;
  float: left;
  margin: 0 5px 20px 5px;
  overflow: hidden;
  opacity: 0;
}

.mogan-post-preview:after {
  content: '';
  display: block;
  clear: both;
}

.mogan-post-preview h2 {
  font-size: 2.1em;
  line-height: 1.2em;
  margin: 20px 0;
}

.mogan-post-preview h2 a {
  color: inherit;
  text-decoration: none;
  display: block;
}

@media( max-width: 420px ) {
  .posts_display_container {
    width: 320px;
  }

  .mogan-post-preview {
    width: 280px;
    padding: 12px 30px 30px 30px;
  }

  .mogan-post-preview h2 {
    font-size: 1.8em;
  }

  .mogan-post-preview .content p {
    font-size: 18px;
    line-height: 24px;
  }
}

.mogan-post-preview .content iframe,
.mogan-post-preview .content img {
  display: none;
}
.mogan-post-preview .actions .icon-fire {
  background: #d87547;
  border-bottom: solid 1px #c35a29;
  color: #f9f9f9;
}
.mogan-post-preview .meta {
  font-size: 15px;
  font-style: italic;
  font-family: "Vollkorn", serif;
  color: #a7a7a7;
  margin: 20px 0;
}
.mogan-post-preview .button {
  margin-top: 20px;
}
.mogan-post-preview blockquote {
  text-align: left;
  max-width: 100%;
  padding: 0;
  margin: 20px 0;
}
.mogan-post-preview li {
  color: #555 !important;
}

.mogan-post-detail {
  background: #f9f9f9;
  width: 960px;
  margin: 20px auto;
  border-top: 14px solid #d56350;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
}
.mogan-post-detail > div {
  padding: 0 80px;
}
.mogan-post-detail header {
  text-align: center;
  padding: 20px 0 0 0;
  margin-bottom: 60px;
  z-index: 5;
}
.mogan-post-detail header h1 {
  margin-bottom: 0;
  font-size: 40px;
}
.mogan-post-detail header .meta {
  font-size: 14px;
  font-family: Helvetica, "Helvetica", Crimson, sans-serif;
  color: #bababa;
  text-transform: uppercase;
  margin-top: 30px;
}
.mogan-post-detail .content {
  padding-bottom: 60px;
}
.mogan-post-detail .content > p:first-child > img:first-child {
  margin-top: 0;
}
.mogan-post-detail .content img,
.mogan-post-detail .content .fluid-width-video-wrapper {
  margin: 20px 0;
}

.author_name_hide {
  display: inline;
}

@media screen and (min-width: 1120px) {
  .mogan-post-detail .content img,
  .mogan-post-detail .content .fluid-width-video-wrapper {
    margin: 35px 0px;
  }
}

@media (max-width: 1280px) {
  .mogan-post-detail {
    width: 840px;
  }

  .meta {
    font-size: 12px !important;
  }
}

@media (max-width: 1170px) {
  .mogan-post-detail {
    width: 720px;
  }

  .mogan-post-detail > div {
    padding: 0 50px;
  }

  .mogan-post-detail header h1 {
    font-size: 36px;
  }

  .mogan-post-detail header .meta {
    margin-top: 20px;
  }

  .mogan-post-detail header {
    margin-bottom: 50px;
  }

  pre, code {
    font-size: 15px;
  }
}

@media (max-width: 1040px) {
  .mogan-post-detail {
    width: 640px;
  }

  .content p {
    font-size: 19px;
  }

  pre, code {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .mogan-post-detail {
    width: 560px;
  }
}

@media (max-width: 880px) {
  .mogan-post-detail {
    width: 460px;
  }

  .mogan-post-detail > div {
    padding: 0 30px;
  }

  .author_name_hide {
    display: none;
  }

  .mogan-post-detail header {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .mogan-post-detail {
    width: 640px;
  }
}

@media (max-width: 700px) {
  .mogan-post-detail {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .mogan-post-detail {
    width: 100%;
    margin: 0;
  }

  #mogan-content-detail {
    padding: 0;
  }

  .mogan-post-detail > div {
    padding: 0 20px;
  }
}

@media (max-width: 420px) {
  .mogan-post-detail > div {
    padding: 0 10px;
  }
}

.mogan-post-detail header,
.mogan-post-detail .content,
.mogan-post-detail footer > .author {
  position: relative;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.mogan-post-detail .content {
  z-index: 5;
}

.mogan-post-detail .content:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100px;
  margin: auto;
  background: #a7a7a7;
}
.mogan-post-detail footer {
  text-align: center;
}
.mogan-post-detail footer section {
  padding: 40px 0;
}
.mogan-post-detail .author img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: solid 3px #c6c6c6;
}
.mogan-post-detail .author h3 {
  margin-bottom: 0;
}
.mogan-post-detail .author ul,
.mogan-post-detail .author li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gist {
  margin: 30px 0;
  font-size: 14px !important;
  line-height: 23px !important;
}

.inline-post-image {
  float: left;
  padding-right: 10px;
}

.inline-post-image img {
  margin: 12px !important;
  padding: 0 !important;
}
