.colored-border.tag-featured {
  border-color: #e85c41;
}

.colored-border.tag-books {
  border-color: #6f45ff;
}

.colored-border.tag-tv-shows {
  border-color: #2a2a2a;
}

.colored-border.tag-quotes {
  border-color: #30db73;
}
